venv/
__pycache__/
*.ini
.eggs/
*.egg-info
dist/
build/
.DS_Store
*.log
*.pyc
.idea
.sass-cache
*.iml
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.class
*.tmp_*
.build
.logs
node_modules
config.rb
.pytest_cache
.idea